{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Categories{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Categories</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accuiel</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Categories
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
    <h1 >Categorie index</h1>

    <div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction1()" placeholder="rate search" id="myInput">
    </div>
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th class="btn-danger">Idcat</th>
                <th class="btn-danger">Domaine</th>
                <th class="btn-danger">Nomcat</th>
                <th class="btn-danger">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories |reverse %}
            <tr>
                <td>{{ categorie.idcat }}</td>
                <td>{{ categorie.domaine }}</td>
                <td>{{ categorie.nomcat }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'idcat': categorie.idcat}) }}" class="btn btn-success btn-sm text-white">Afficher</a>
                    <a href="{{ path('app_categorie_edit', {'idcat': categorie.idcat}) }}" class="btn btn-warning btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}" class="btn btn-primary">Ajouter</a>
    <script>


        id="mytable"
        function myFunction1() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }

        }


    </script>
{% endblock %}
