{% extends 'backbase.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1 class="btn-secondary">Categorie index</h1>

    <div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction1()" placeholder="rate search" id="myInput">
    </div>
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th>Idcat</th>
                <th>Domaine</th>
                <th>Nomcat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idcat }}</td>
                <td>{{ categorie.domaine }}</td>
                <td>{{ categorie.nomcat }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'idcat': categorie.idcat}) }}" class="btn-secondary">show</a>
                    <a href="{{ path('app_categorie_edit', {'idcat': categorie.idcat}) }}" class="btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}" class="btn-secondary">Create new</a>
    <script>


        id="mytable"
        function myFunction1() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }

        }


    </script>
{% endblock %}
