{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1 class="btn-secondary">Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cour.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ cour.duree }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ cour.support }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ cour.etat }}</td>
            </tr>
            <tr>
                <th>Idcat</th>
                <td>{{ cour.idcat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}"  class="btn btn-success"><i class="bi bi-cart-plus"></i>back to list</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}" class="btn btn-dark"><i class="bi bi-cart-plus"></i>edit</a>


    <a href="{{ path('app_like_cours_new',{'id':cour.id})}}" class="btn btn-success">
        <i class="bi bi-cart-plus"></i> like
    </a>
    <a href="{{ path('reclamation_etatdonAction',{'id':cour.id})}}" class="btn btn-success">
    <i class="bi bi-cart-plus"></i> archiver
</a>
    <a href="{{ path('app_categorie_show',{'idcat':cour.idcat})}}" class="btn btn-success">
        <i class="bi bi-cart-plus"></i> cat
    </a>
    <a href="{{ path('app_like_cours_newd',{'id':cour.id})}}" class="btn btn-success">
        <i class="bi bi-cart-plus"></i> dislike
    </a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
