{% extends 'basef.html.twig' %}
{% block title %}EZ Learning{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block menu %}
    {{parent()}}
{% endblock %}

{% block body %}

    <h1>universite index</h1>

    <div class="intro-section" id="home-section">

        <div class="slide-1" style="background-image: url('{{asset('assets/frontoffice/images/hero_1.jpg')}}');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1  data-aos="fade-up" data-aos-delay="100">Universite</h1>
                                <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</p>
                                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary py-3 px-5 btn-pill">Consulter</a></p>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="container">
        {% for universite in universites %}
            <div class="hide-menu" align="center">
                <div class="row mt-3 mb-4" style="background-color: lavender">
                    <div class="col-md-4" style="background-color: lavender" align="center">
                        <img class="w-100" src="{{ asset('images/'~ universite.imguni) }}" alt="Image de {{ universite.nom }}">
                    </div>
<br>
                    <table class="display" style="background-color: plum"> email :{{ universite.email}}</table>
                </br>
<br>
                    <table style="color: rebeccapurple" > lieu :{{ universite.adresse}} </table>
                </br>
                </div>

            </div>

        {% endfor %}
        <button class="pagination pagination-lg" style="background-color: greenyellow" size="1233888888">

            {{ knp_pagination_render(universites) }}
        </button>
    </section>
{% endblock %}
