{% extends 'frontbase.html.twig' %}{% block title %}EZ Learning{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block menu %}
    {{parent()}}
{% endblock %}

{% block body %}

    <h1>Evenement index</h1>

    <div class="intro-section" id="home-section">

        <div class="slide-1" style="background-image: url('{{asset('assets/frontoffice/images/hero_1.jpg')}}');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1  data-aos="fade-up" data-aos-delay="100">Evenement</h1>
                                <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</p>
                                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary py-3 px-5 btn-pill">Consulter</a></p>

                            </div>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="product bg-white">
        <button type="submit" style="background-color:lavender"><a href="top2events">Consulter "Top 2 events"</a></button>
        {% for evenement in evenements %}
            <div class="container" style="background-color:lavender">
                <div class="row mt-3 mb-4">
                    <div class="col-md-4">

                        <img class="w-100" src="{{ asset('images/'~ evenement.imgev) }}" alt="Image de {{ evenement.imgev }}">
                    </div>
                    <div class="col-md-8" align="center">
                        <h1 class="mt-4 mt-md-0" style="color: purple">le  {{ evenement.date ? evenement.date|date('m-d') : ''}}</h1>
                        <h2 style="color: rebeccapurple">{{ evenement.nbrParticipant}} participants </h2>
                        <hr>
                        <br>
                        <b class="btn-primary">Description: </b>{{ evenement.description }}
                    </br>
                        <b>Heure: </b>{{ evenement.heure}}
                        <br>
                        {% if date(evenement.date) > date('-0days') %}<h2 align="center" style="color: palevioletred"> Evènement pas encore passé </h2> {% else %} <h3 align="center" style="color:palevioletred"> Evènement déja passé </h3> {% endif %}

                        <b>Lien: </b><a href="{{ evenement.lien }}">{{ evenement.lien }}</a>
                        {% if evenement.nbrParticipant < 20 %}
                        <button name="ssss" style="background-color: greenyellow;"> participer
                        </button>                       {% else%} <h1 style="background-color: ghostwhite" >Evènement plein pour le moment</h1> {% endif %}

                    </br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <a href="/evenement/listp" class="btn btn-success "> <i class="fas fa-check"> pdf</i> </a>
{% endblock %}
