{% extends 'backbase.html.twig' %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello ✅</h1>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Actions</h5>
			<div
				class="row">
				<!-- Column -->
				<div class="col-md-6 col-lg-2 col-xlg-3">
					<div class="card card-hover">
						<div class="box bg-cyan text-center">
							<h1 class="font-light text-white">
								<i class="mdi mdi-view-dashboard"></i>
							</h1>
							{# <a href="{{path('app_home')}}"> #}
                             <a href="{{ path('app_register') }}"> 
								<h6 class="text-white">Add</h6>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		{# <div class="row"> #}
		{# <div class="col-md-3 col-sm-12 d-grid">
							<button type="button" class="btn btn-lg btn-outline-success" id="ts-success">
								Success
							</button>
						</div> #}

		<div class="table-responsive">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>
							<label class="customcheckbox mb-3">
								<input type="checkbox" id="mainCheckbox"/>
								<span class="checkmark"></span>
							</label>
						</th>
						<th scope="col">nom</th>
						<th scope="col">prenom</th>
						<th scope="col">tel</th>
						<th scope="col">email</th>
						<th scope="col">pwd</th>
						<th scope="col">carteBanq</th>
						<th scope="col">role</th>
					</tr>
				</thead>
				<tbody class="customtable">
					{% for u in tab %}
						<tr>
							<th>
								<label class="customcheckbox">
									<input type="checkbox" class="listCheckbox"/>
									<span class="checkmark"></span>
								</label>
							</th>


							<td>{{u.nom}}</td>
							<td>{{u.prenom}}</td>
							<td>{{u.tel}}</td>
							<td>{{u.email}}</td>
							<td>{{u.pwd}}</td>
							<td>{{u.carteBanq}}</td>
							<td>{{u.role}}</td>
                            {# <td><a href="{{ path('updateuser',{'id':u.id}) }}">Update</a></td> #}
                            <td><a href="{{ path('UserDeletee',{'id':u.id}) }}">Delete</a></td>

						</tr>
					{% endfor %}
				</tbody>
			</tr>
		</tbody>
	</table>
</div><link rel="stylesheet" type="text/css" href="../assets/extra-libs/multicheck/multicheck.css"/><script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script>
	$(function () { // Success Type
$("#ts-success").on("click", function () {
toastr.success("Have fun storming the castle!", "Miracle Max Says");
});

// Success Type
$("#ts-info").on("click", function () {
toastr.info("We do have the Kapua suite available.", "Turtle Bay Resort");
});

// Success Type
$("#ts-warning").on("click", function () {
toastr.warning("My name is Inigo Montoya. You killed my father, prepare to die!");
});

// Success Type
$("#ts-error").on("click", function () {
toastr.error("I do not think that word means what you think it means.", "Inconceivable!");
});
});
</script>
<script src="../assets/libs/toastr/build/toastr.min.js"></script>
<link href="../assets/libs/toastr/build/toastr.min.css" rel="stylesheet"/>{% endblock %}
