{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Test{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Tests</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accuiel</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Utilisateurs
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
							<table id="zero_config" class="table table-striped table-bordered">
								<thead>

									<th>email</th>
									<th>nom</th>
									<th>prenom</th>
									<th>role</th>
									{# <th>isVerified</th> #}
									<th></th>
									<th></th>
									<th></th>
								</thead>
								<tbody>
									{% for u in tab %}
										<tr>
											<td>{{u.email}}</td>
											{# <td>{{u.password}}</td> #}
											<td>{{u.name}}</td>
											<td>{{u.lastName}}</td>
											<td>
												{% for arole in u.roles %}
													<li>{{arole}}</li>
												{% endfor %}
											</td>
											{# <td>{{u.isVerified}}</td> #}
											<td>
												<a id="updated" href="{{ path('UserUpdate',{'id':u.id}) }}">Update</a>
												<i class="mdi mdi-account-convert"></td>
											</td>
											<td>
												<a href="{{ path('UserDelete',{'id':u.id}) }}">Delete</a>
												<i class="mdi mdi-account-multiple-minus"></td>
											</td>
											<td>
												<a href="{{ path('UserBlock',{'id':u.id}) }}">
													{% if u.isBlocked() %}
														Un
													{% endif %}
													Block
												</a>
												<i class="mdi mdi-account-alert"></td>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</div>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

 <script>
$(document).ready(function() {
    $('#zero_config').DataTable();
    
} );
</script>
{% endblock %}
