{% extends 'backbase.html.twig' %}

{% block body %}
	<div class="
						          auth-wrapper
						          d-flex
						          no-block
						          justify-content-center
						          align-items-center
						          bg-dark
						        ">
		<div class="auth-box bg-dark border-top border-secondary">
			<div>
				<!-- Form -->
				{# <form class="form-horizontal mt-3"> #}
					<div class="row pb-4"> <div class="col-12">
						{{ form_start(UserForm) }}
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text bg-success text-white h-100" id="basic-addon1">
									<i class="mdi mdi-account fs-4"></i>
								</span>
							</div>
							<input class="form-control form-control-lg" placeholder="Name" required {{ form_widget(UserForm.nom,{'attr':{'class':'form-control'}} ) }}/>
						</div>
						<!-- email -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text bg-danger text-white h-100" id="basic-addon1">
									<i class="mdi mdi-email fs-4"></i>
								</span>
							</div>
							<input class="form-control form-control-lg" placeholder="Email" required {{ form_widget(UserForm.email,{'attr':{'class':'form-control'}} ) }}/>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text bg-warning text-white h-100" id="basic-addon2">
									<i class="mdi mdi-lock fs-4"></i>
								</span>
							</div>
							<input class="form-control form-control-lg" placeholder="Password" required {{ form_widget(UserForm.pwd,{'attr':{'class':'form-control'}} ) }}/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text bg-info text-white h-100" id="basic-addon2">
									<i class="mdi mdi-lock fs-4"></i>
								</span>
							</div>
							<input class="form-control form-control-lg" placeholder="Bank" required {{ form_widget(UserForm.carteBanq,{'attr':{'class':'form-control'}} ) }}/>

						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Primary
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row border-top border-secondary">
					<div class="col-12">
						<div class="form-group">
							<div class="pt-3 d-grid">
								<button class="btn btn-block btn-lg btn-info" type="submit">
									Sign Up
								</button>
							</div>
						</div>
					</div>
				</div>
				{{form_end(UserForm)}}
				{# </form> #}
			</div>
		</div>
	</div>

	{# <div class="main-panel">
		        <div class="content-wrapper">
		            <div class="page-header">
		                <h3 class="page-title"> Tournaments </h3>
		
		                <li class="breadcrumb-item active" aria-current="page">New blog</li>
		            </div>
		    <div class="col-12 grid-margin stretch-card">
		        <div class="card">
		            <div class="card-body">
		               {{ form_start(form) }}
		                 
		                        
		                    <div class="form-group">
		                        <label for="blogName">Name</label>
		                         {{form_widget(form.Name,{'attr':{'class' : 'form-control' , 'placeholder' : 'name'}})}}
		                        <div class="text-danger">{{form_errors(form.Name) }} </div>
		                        
		                    </div>
		                    <div class="form-group">
		                        <label for="blogDescription">Description</label>
		                        {{form_widget(form.Description,{'attr':{'class' : 'form-control' , 'placeholder' : 'description'}})}}
		                        <div class="text-danger">{{form_errors(form.Description) }} </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="blogGame">Game</label>
		                         {{form_widget(form.Game,{'attr':{'class' : 'form-control' , 'placeholder' : 'choose your game'}})}}
		                        <div class="text-danger">{{form_errors(form.Game) }} </div>
		                    </div>
		                     <div class="form-group">
		                        <label for="blogTeamCount">teams count</label>
		                        {{ form_widget(form.countTeams,{'attr':{'class':'form-control', 'placeholder':'countTeams'}}) }}
		                        <div class="text-danger">{{form_errors(form.countTeams) }} </div>
		                    </div>
		                     
		                     <div class="form-group">
		                        <label for="blogPrize"> Prize </label>
		                        {{form_widget(form.prize,{'attr':{'class' : 'form-control' , 'placeholder' : 'DT'}})}}
		                        <div class="text-danger">{{form_errors(form.prize) }} </div>
		                    </div>
		                                                       <div class="form-group">
		                    <label for="blogPicture">Tournament image</label>
		                    {{ form_widget(form.picture,{'attr':{'class':'form-control', 'placeholder':'image'}}) }}
		                    <div class="text-danger">{{ form_errors(form.picture) }}</div>
		                </div>
		                    
		                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
		                    <button class="btn btn-dark">Cancel</button>
		
		                {{form_end(form)}}
		            </div>
		        </div>
		    </div> #}
{% endblock %}
