{% extends 'backbase.html.twig' %}
{% block title %}Universite index{% endblock %}

{% block body %}
    <div class="row">
    <div  style="display: list-item;align-items: normal;justify-content: normal;margin-top: 15px; padding: 10px;">
    <style>
        {

            border: 5px solid black;
            
            color:green;

        }
    </style>

    <div class="container">
    <div class="card-body">
    <h1 class="btn-danger" align="center" style="background-color: lightsalmon">Universite index</h1>
    <div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction1()" placeholder="rate search" id="myInput" >
    </div>
    <table class="table table-striped" id="mytable" style="background-color: aliceblue" align="center"  >
        <thead>
            <tr>
                <th class="btn-danger">Iduni</th>

                <th class="btn-danger">Nom</th>
                <th class="btn-danger">Email</th>
                <th class="btn-danger">Adresse</th>
                <th class="btn-danger">Imguni</th>
                <th class="btn-danger">Mdpuni</th>
                <th class="btn-danger">actions</th>
            </tr>
        </thead>
        <tbody>

        <a href="{{ path('app_universite_new') }}" >Create new</a>
        {% for universite in universites |reverse %}
            <tr>
                <td>{{ universite.iduni }}</td>
                <td>{{ universite.nom }}</td>
                <td>{{ universite.email }}</td>
                <td>{{ universite.adresse }}</td>

                <td><img class="w-100" src="{{ asset('images/'~ universite.imguni) }}" alt="Image de {{ universite.imguni }}">
                <td>{{ universite.mdpuni }}</td>
                <td>
                    <a href="{{ path('app_universite_show', {'iduni': universite.iduni}) }}" >show</a>
                    <a href="{{ path('app_universite_edit', {'iduni': universite.iduni}) }}" >edit</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>


        id="mytable"
        function myFunction1() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }

        }


    </script>

{% endblock %}