{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Universités{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Universités</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accuiel</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Universités
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
    <div class="row">
    <div  style="display: list-item;align-items: normal;justify-content: normal;margin-top: 15px; padding: 10px;">
    <style>
        {

            border: 5px solid black;
            
            color:green;

        }
    </style>

    <div class="container">
    <div class="card-body">
    <h1 class="btn-danger" align="center" style="background-color: lightsalmon">Universite index</h1>
    <div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction1()" placeholder="rate search" id="myInput" >
    </div>
    <table class="table table-striped" id="mytable" style="background-color: aliceblue" align="center"  >
        <thead>
            <tr>
                <th class="btn-danger">Iduni</th>

                <th class="btn-danger">Nom</th>
                <th class="btn-danger">Email</th>
                <th class="btn-danger">Adresse</th>
                <th class="btn-danger">Imguni</th>
                <th class="btn-danger">Mdpuni</th>
                <th class="btn-danger">actions</th>
            </tr>
        </thead>
        <tbody>

        <a class="btn btn-primary" href="{{ path('app_universite_new') }}" >Ajouter</a>
        {% for universite in universites |reverse %}
            <tr>
                <td>{{ universite.iduni }}</td>
                <td>{{ universite.nom }}</td>
                <td>{{ universite.email }}</td>
                <td>{{ universite.adresse }}</td>

                <td><img style="width:50%;" class="" src="{{ asset('uploads/'~ universite.imguni) }}" alt="Image de {{ universite.imguni }}">
                <td>{{ universite.mdpuni }}</td>
                <td>
                    <a class="btn btn-success btn-sm text-white" href="{{ path('app_universite_show', {'iduni': universite.iduni}) }}" >Afficher</a>
                    <a href="{{ path('app_universite_edit', {'iduni': universite.iduni}) }}" class="btn btn-warning btn-sm">Modifier</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>


        id="mytable"
        function myFunction1() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }

        }


    </script>

{% endblock %}