{% extends 'base.html.twig' %}

{% block title %}Universite index{% endblock %}

{% block body %}
    <h1 class="btn-secondary">Universite index</h1>
    <div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction1()" placeholder="rate search" id="myInput">
    </div>
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th class="btn-success">Iduni</th>

                <th class="btn-success">Nom</th>
                <th class="btn-success">Email</th>
                <th class="btn-success">Adresse</th>
                <th class="btn-success">Imguni</th>
                <th class="btn-success">Mdpuni</th>
                <th class="btn-success">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for universite in universites %}
            <tr>
                <td>{{ universite.iduni }}</td>
                <td>{{ universite.nom }}</td>
                <td>{{ universite.email }}</td>
                <td>{{ universite.adresse }}</td>

                <td><img class="w-100" src="{{ asset('images/'~ universite.imguni) }}" alt="Image de {{ universite.imguni }}">
                <td>{{ universite.mdpuni }}</td>
                <td>
                    <a href="{{ path('app_universite_show', {'iduni': universite.iduni}) }}" class="btn-secondary">show</a>
                    <a href="{{ path('app_universite_edit', {'iduni': universite.iduni}) }}" class="btn-secondary">edit</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_universite_new') }}" class="btn-secondary">Create new</a>
    <script>


        id="mytable"
        function myFunction1() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }

        }


    </script>

{% endblock %}