{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Cours{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Cours</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Cours
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
<div class="col-sm-4" align="center">
    <div class="card" style="width: 18rem;" align="center">
  <img class="card-img-top" src="../uploads/{{ societe.imgsoc }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ societe.nom}}</h5>
    <p class="card-text">{{ societe.adresse }}</p>
    <a href="#" class="btn btn-primary">Voir les offres d'embauche</a>
  </div>
</div>
</div>
{% endblock %}