{% extends 'base_front.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block body %}
{{parent()}}
<div class="intro-section single-cover" id="home-section">
      
      <div class="slide-1 " style="background-image: url('{{asset('images/img_2.jpg')}}');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0"></h1>
                  <p data-aos="fade-up" data-aos-delay="100"></p>
                </div>

                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
 <div class = "row">
    {% for societe in societes %}

<div class="col-md-4">
    <div class="card" style="width: 20rem;" align="center">
  <img class="card-img-top" src="uploads/{{ societe.imgsoc }}" style="width: 63%;margin-left: 18%;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ societe.nom}}</h5>
    <p class="card-text">
      <h4>
        <iframe style="border:1; width: 100%; height: 200px;" class="img-fluid" src="https://maps.google.com/maps?q=+{{ societe.adresse }}+&hl=fr&z=14&amp;output=embed" frameborder="0" allowfullscreen></iframe>          
            <div class="map-wrapper-300 mb-3">
      </h4>
                      
    {{ societe.adresse }}</p>
    <a href="#" class="btn btn-primary">Voir les offres d'embauche</a>
  </div>
</div>
</div>
       
    {% endfor %}
</div>
<div>
</div>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 1;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'societes') {
                                        if (id != 'error') {
                                             
                                            console.log(id , value)
                                           entitySelector.append('<li><b>'+value[0]+' '+value[1]+'</b><a href="/detailSociete/'+id+'">'+'<img src="/uploads/'+value[2]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                                    
                                                    
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>
</div>
{% endblock %}