
{% extends 'base_front.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block body %}
{{parent()}}
<div class="intro-section single-cover" id="home-section">
      <div class="site-section courses-title" id="courses-section">
				<div class="container">
					<div class="row mb-5 justify-content-center">
						<div class="col-lg-7 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
							<h2 class="section-title"></h2>
						</div>
					</div>
				</div>
		</div>
	
</div>
     <div class="intro-section" id="home-section">

        <div class="slide-1" style="background-image: url(&quot;/assets/frontoffice/images/hero_1.jpg&quot;); background-position: 50% 68.6094px;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1 data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">S'inscrire</h1>
                                <p class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Vous n'avez pas un compte? vous pouvez s'inscrire et commencer à etudier facilement.</p>
                                <p data-aos="fade-up" data-aos-delay="300" class="aos-init"><a href="{{path('app_register')}}" class="btn btn-primary py-3 px-5 btn-pill">Register</a></p>

                            </div>

                            <div class="col-lg-5 ml-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">

									<h3 class="h4 text-black mb-4">Sign In</h3>
							

										{{ form_start(registrationForm,{'attr':{'class':'form-box'}}) }}
								{{ form_row(registrationForm.email) }}
								{{ form_row(registrationForm.plainPassword, {
											label: 'Password'
										}) }}
								{{ form_row(registrationForm.agreeTerms) }}

								<button type="submit" class="btn">Register</button>
								
								{{form_end(registrationForm)}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
	<div elass-"g-cecaptche brochure form captcha" data-sitekey="6LfmDYMfAAAAAJ7BGxjCTSAoF8fLfvMRIXPReZEt"></div>
	<script type="text/javascript">
	/**
	 * The callback function executed
	 * once all the Google dependencies have loaded
	 */
function onGoogleReCaptchaApiLoad() {
var widgets = document.querySelectorAll('[data-toggle="recaptcha"]');
for (var i = 0; i < widgets.length; i++) {
renderReCaptcha(widgets[i]);
}
}
</script>
<script type="text/javascript" src="{{ asset('js/recaptcha.js') }}"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>

{% endblock %}