{% extends 'base.html.twig' %}

{% block title %}Reponses{% endblock %}

{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_reponses_index',{'questionid':question.id}) }}">Reponses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {{reponse.contenu}}
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}
{{parent()}}
<!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
    <h1>Reponses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reponse.contenu }}</td>
            </tr>
            <tr>
                <th>IsCorrect</th>
                <td>{{ reponse.isCorrect ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ reponse.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponses_index',{'questionid':question.id}) }}">back to list</a>

    <a href="{{ path('app_reponses_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('reponses/_delete_form.html.twig') }}
{% endblock %}
