{% extends 'backbase.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/mrram/Desktop/Ez_Learning_Smf/FirstProject/src/Controller/TeacherController.php'|file_link(0) }}">src/Controller/TeacherController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/mrram/Desktop/Ez_Learning_Smf/FirstProject/templates/teacher/index.html.twig'|file_link(0) }}">templates/teacher/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}



{% extends 'backBase.html.twig' %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Tournaments </h3>

                <li class="breadcrumb-item active" aria-current="page">New blog</li>
            </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
               {{ form_start(form) }}
                 
                        
                    <div class="form-group">
                        <label for="blogName">Name</label>
                         {{form_widget(form.Name,{'attr':{'class' : 'form-control' , 'placeholder' : 'name'}})}}
                        <div class="text-danger">{{form_errors(form.Name) }} </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="blogDescription">Description</label>
                        {{form_widget(form.Description,{'attr':{'class' : 'form-control' , 'placeholder' : 'description'}})}}
                        <div class="text-danger">{{form_errors(form.Description) }} </div>
                    </div>
                    <div class="form-group">
                        <label for="blogGame">Game</label>
                         {{form_widget(form.Game,{'attr':{'class' : 'form-control' , 'placeholder' : 'choose your game'}})}}
                        <div class="text-danger">{{form_errors(form.Game) }} </div>
                    </div>
                     <div class="form-group">
                        <label for="blogTeamCount">teams count</label>
                        {{ form_widget(form.countTeams,{'attr':{'class':'form-control', 'placeholder':'countTeams'}}) }}
                        <div class="text-danger">{{form_errors(form.countTeams) }} </div>
                    </div>
                     
                     <div class="form-group">
                        <label for="blogPrize"> Prize </label>
                        {{form_widget(form.prize,{'attr':{'class' : 'form-control' , 'placeholder' : 'DT'}})}}
                        <div class="text-danger">{{form_errors(form.prize) }} </div>
                    </div>
                                                       <div class="form-group">
                    <label for="blogPicture">Tournament image</label>
                    {{ form_widget(form.picture,{'attr':{'class':'form-control', 'placeholder':'image'}}) }}
                    <div class="text-danger">{{ form_errors(form.picture) }}</div>
                </div>
                    
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark">Cancel</button>

                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}