
{% form_theme form 'bootstrap_4_layout.html.twig' %} 
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Reclamations{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Reclamations</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Reclamations  
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
<table>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
{{ form_errors(form.description) }} 
 {{ form_label(form.description,"Description de la reponse :") }} 
  {{ form_widget(form.description)}} 

  {{ form_end(form) }}
  </table>
  </div>
{% endblock %}