{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Test{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title"></h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Reponse Reclamation
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}

 <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
             
                  <div class="card-body">
<h1 align ="center" > <br>Tableau des reponses </h1>

<div class="table-responsive">
			<table class="table" id="table">
				<thead class="thead-light">
					<tr>
						 <td>id reclamation</td>
                         <td>description</td>
                         <td>date reponse</td>
                         <td>Actions</td>
					</tr>
				</thead>
				<tbody class="customtable">
					
				 {% for reponse in reponses %}
        <tr>
            <td>{{ reponse.getReclamation().getId()}}</td>
            <td>{{ reponse.description }}</td>
            <td>{{ reponse.getDaterep()|date('d M Y') }}</td>
         

            <td><a href="{{ path('updateReponse',{'idreponse':reponse.idreponse}) }}">Update</a>
            <a href="{{ path('deleteReponse',{'idreponse':reponse.idreponse}) }}">Delete</a>
            
        </tr>
    {% endfor %}
		
		</tbody>
	</table>
  <script>
$(document).ready(function() {
    $('#table').DataTable();
    
} );
</script>
</div><link rel="stylesheet" type="text/css" href="../assets/extra-libs/multicheck/multicheck.css"/><script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
{% endblock %}