{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}Test{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}
{% block menu %}
    {{parent()}}
    <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title"></h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Statistiques
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block body %}

{{parent()}}
<div class="container">
    <br> <br>
    <h1>Statistiques des reclamations</h1>

{# render_chart(chart) #}

  <canvas id="graph"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
const graph = document.getElementById("graph").getContext("2d");

Chart.defaults.global.defaultFontSize = 18;

let massPopChart = new Chart(graph, {
  type: "doughnut", // bar, horizontalBar, pie, line, doughnut, radar, polarArea
  data: {
    labels: [
      "Reclamations Traitées",
      "Reclamations Non Traités",
    ],
    datasets: [
      {
        label: "Statistiques traitement",
        data: [{{totRep}}, {{totNon}}],
        // backgroundColor: "blue",
        backgroundColor: [
          "blue",
          "grey",
        ],
        hoverBorderWidth: 5,
      },
    ],
  },
  options: {
    title: {
      display: true,
      text: "Statistiques des reclamations selon leur traitement ",
      fontSize: 24,
    },
    legend: {
      display: true,
    },
    // start at 0
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
          },
        },
      ],
    },
    layout: {
      padding: {
        left: 100,
        right: 10,
        top: 50,
      },
    },
  },
});
</script>

 <canvas id="graph2"></canvas>

<script>

const graph2 = document.getElementById("graph2").getContext("2d");

Chart.defaults.global.defaultFontSize = 20;

let massPopChart2 = new Chart(graph2, {
  type: "bar", 
  data: {
    labels: [
      "Reclamations techniques",
      "Reclamations concernant un cours",
    ],
    datasets: [
      {
         label:  "Reclamations techniques",
        // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: [{{totech}}, {{totcours}}],
        // backgroundColor: "blue",
        backgroundColor: [
          "turquoise",
          "green",
        ],
        hoverBorderWidth: 2,
      },
    ],
  },
  options: {
    title: {
      display: true,
      text: "Statistiques des reclamations selon le type",
      fontSize: 24,
    },
    legend: {
      display: false,
    },
    // start at 0
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
          },
        },
      ],
    },
    layout: {
      padding: {
        left: 100,
        right: 10,
        top: 50,
      },
    },
  },
});
</script>
</div>
{% endblock %}